        {% extends "base.html" %}
		{% load static %}
		{% block title %}Login{% endblock %}
		{% block Main_contents %}
		<section class="breadcrumb-area">
			<div class="container-fluid custom-container">
				<div class="row">
					<div class="col-xl-12">
						<div class="bc-inner">
							<p><a href="#">Home  |</a> Login</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="contact-area">
			<div class="container-fluid custom-container">
				<div class="section-heading pb-30">
					<h3>Login <span>Account</span></h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
						<div class="contact-form login-form">
							<form action="#">
								<div class="row">
									<div class="col-xl-12">
										<input type="text" placeholder="Email*">
									</div>
									<div class="col-xl-12">
										<input type="text" placeholder="Password*">
									</div>
									<div class="col-xl-12">
										<input type="submit" value="LOG IN">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="login-now">
			<div class="container-fluid custom-container">
				<div class="col-12">
					<span>Dont have account</span>
					<a href="{% url "create_account" %}" class="btn-two">Create Account</a>
				</div>
			</div>
		</section>
		{% endblock %}


